mytest/
/Gemfile.lock
/pkg/
/.bundle/
/vendor/
/.ruby-gemset
/.ruby-version
/.yardoc/
/doc/
.idea
*.gem

# My work
MYNOTES.adoc
test_jc/
tmp/
work/

# Workng & test files
*.pdf
*.aux
*.log
*.out
*.toc
*.bcf
*.fls
*.idx
*.ind
*.lof
*.lot
*.fdb_latexmk
*synctex.gz

# junk from my test, to remove
learnruby/
test/examples/tex/*.adoc
test/examples/tex/*.html
test/examples/tex/*.txt
test/examples/tex/*.rb
test/examples/tex/*.jpg
test/examples/tex/*.sh
test/examples/tex/_*
test/examples/tex/x*
test/examples/tex/foo*
test/examples/adoc/x*
test/examples/tex/newEnvironments.tex
test/examples/tex/asciidoc_tex_macros.tex

# Junk from the examples
examples/*.tex
examples/_minted-exemple

jc/
buildit

# Node.js
build/
node_modules/

# Ruby stuff
.bundle/
